.header{
    font-size: large;
    font-size: 30px;
    justify-content: center;
    text-align:center;
    padding-bottom: 10px;
    background-image: url(https://media.istockphoto.com/photos/beautiful-living-room-interior-with-hardwood-floors-and-and-view-of-picture-id1208205959?k=20&m=1208205959&s=612x612&w=0&h=bd4L_M7u2hPksL11njclcxgMWezFgSnKW1gBs9K-Xn0=);
    background-position: center;
}
.head{
    display: block;
    color:rgb(98, 197, 106);
    font-weight: bold;
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
    padding: 3px;

}

.quote{
    display: block;
    color:rgb(98, 197, 106);
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
    padding: 3px;
}
.logo{
    padding-top: 50px;
}