<h1>Furnitures ></h1>
<img class="sofa" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/amazon-rivet-furniture-1533048038.jpg?crop=1.00xw:0.502xh;0,0.423xh&resize=1200:*" cursor="sofa">
<img class="dining" src="https://rukminim1.flixcart.com/image/416/416/ktyp8cw0/dining-set/x/1/l/na-rosewood-sheesham-square-4-seater-tf-wddining-d2-true-original-imag76qmhyqzdcye.jpeg?q=70">


<h1>home accessories ></h1>
<a href="#"><img src="https://www.planndesign.com/sites/default/files/articles/metallic-accessories-for-the-home.jpg"></a>
<img src="http://sc04.alicdn.com/kf/H94f20a1ff6aa4144a04181692ab4c0878.jpg">

<h1>Bedroom accessories</h1>
<img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/bedroom-decorating-ideas-1647541732.jpg?crop=1.00xw:0.645xh;0,0.214xh&resize=1200:*">
<img src="https://www.thespruce.com/thmb/2D3B9Z0HeTP5wxiNTN-PbJ2NcLk=/3888x2592/filters:no_upscale():max_bytes(150000):strip_icc()/accessories-every-bedroom-needs-350718-09-ef24662c5a7f4a0b8246af5911a9f7ad.jpg">