<!--div class="search-div">
    <input class="search-input" type="text" name="search" placeholder="Craft your home with love..."  [(ngModel)]="searchTerm">
    <button class="search-button" (click)="search()">Search</button>
</div-->
  
  
<h1><a class="nav-item nav-link text-dark font-weight-bold nav-headers"
    routerLink="/category/0">
    Sofas >
</a></h1>
<span routerLink="/category/0" ><img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/amazon-rivet-furniture-1533048038.jpg?crop=1.00xw:0.502xh;0,0.423xh&resize=1200:*"><img src="https://rukminim1.flixcart.com/image/612/612/kzegk280/sofa-set/8/5/i/-original-imagbf3x6f2ndvgg.jpeg?q=70"><img src="http://sc04.alicdn.com/kf/H919ed8e8d2444c4a8997114f35f743d1k.jpg"></span>

<h1><a class="nav-item nav-link text-dark font-weight-bold nav-headers"
    routerLink="/category/1">
    Furnitures>
</a></h1>
<span routerLink="/category/1" ><img src="https://i.ebayimg.com/00/s/MTAyNFgxMDI0/z/PeMAAOSw4zNeXuV6/$_86.JPG"><img src="https://i.etsystatic.com/28059441/r/il/33139c/2946391179/il_fullxfull.2946391179_cc6x.jpg"><img src="https://images-na.ssl-images-amazon.com/images/I/61vVSFJddgL._AC_SL1000_.jpg"></span>

<h1><a class="nav-item nav-link text-dark font-weight-bold nav-headers"
    routerLink="/category/2">
    Beds and Matresses >
</a></h1>
<span routerLink="/category/2" ><img src="https://www.texasfurniturehut.com/images/thumbs/0009135_106264_148f7_800.jpeg"><img src="https://ii1.pepperfry.com/media/catalog/product/b/o/70x77/bolton-king-size-bed-with-storage-in-wenge-finish-by-hometown-bolton-king-size-bed-with-storage-in-w-6ebo3z.jpg"><img src="https://th.bing.com/th/id/OIP.HrJD3f4ClMCEOHZW_lLAogHaHa?pid=ImgDet&rs=1"></span>

<h1><a class="nav-item nav-link text-dark font-weight-bold nav-headers"
    routerLink="/category/3">
    Tables >
</a></h1>
<span routerLink="/category/3" ><img src="https://images.furnituredealer.net/img/products%2fcoaster%2fcolor%2fmodern%20dining%20-%20-181734809_106281-b1.jpg"><img src="https://www.eurway.com/resize/Shared/Images/Product/Greenwich-106-Dining-Table-Walnut/greenwich-106-dining-table-walnut-lifestyle-sde.jpg?bw=1000&bh=1000"><img src="https://images.furnituredealer.net/img/products%2fsteve_silver%2fcolor%2fverano-1172854226_vr450b%2bt-b1.jpg"></span>

<h1><a class="nav-item nav-link text-dark font-weight-bold nav-headers"
    routerLink="/category/4">
    Lamps >
</a></h1>
<span routerLink="/category/4" ><img src="https://ii1.pepperfry.com/media/catalog/product/l/o/800x880/lotus-pendant-lamp-natural-lotus-pendant-lamp-natural-2sqjqn.jpg"><img src="https://ii3.pepperfry.com/media/catalog/product/w/h/494x544/white---whit-aluminum-single-hanging-light-by-moni-lights-white---whit-aluminum-single-hanging-light-5naw8p.jpg"><img src="https://ii3.pepperfry.com/media/catalog/product/n/a/494x544/natural-wood-wood-single-hanging-light--by-sapphire-natural-wood-wood-single-hanging-light--by-sapph-d9mukc.jpg"></span>

<h1><a class="nav-item nav-link text-dark font-weight-bold nav-headers"
    routerLink="/category/5">
    Home Decors >
</a></h1>
<span routerLink="/category/5" ><img src="https://ii3.pepperfry.com/media/catalog/product/g/o/494x544/golden-metal-analog-round-clock-golden-metal-analog-round-clock-0ql6wj.jpg"><img src="https://ii3.pepperfry.com/media/catalog/product/f/l/494x544/floral-wall-art-by-malik-design-floral-wall-art-by-malik-design-r8htni.jpg"><img src="https://th.bing.com/th/id/OIP.HrJD3f4ClMCEOHZW_lLAogHaHa?pid=ImgDet&rs=1"></span>
