<nav>
    <div class = "navbar">
        <a class="nav-item nav-link text-dark font-weight-bold nav-headers" type="button" routerLink="category">
            <span><!--img src="/assets/home_icon.png" width="33px" height="33px"-->HOME</span>
        </a>
        <!-- div class="search">
            <input class="search_bar" type="search" [(ngModel)]="searchText" name="search" placeholder="Craft your home with love....">  
            <img class="search_icon" src="https://iconarchive.com/download/i58763/dakirby309/windows-8-metro/Other-Search-Metro.ico" width="37px" height="37px">
        </div -->

        <a routerLink="explore" class = "nav-item nav-link text-dark font-weight-bold nav-headers">Explore</a>
        
        <div class="navbar-nav" *ngIf="currentUser && currentUser.role == Role.Customer">
            <a class="nav-item nav-link nav-headers font-weight-bold" style="color: black;" routerLink="/wishlist"><i class="fas fa-heart mr-2"></i>Wishlist</a>
        </div>

        <a *ngIf="!currentUser || currentUser.role == Role.Customer"
                class="nav-item nav-link text-dark font-weight-bold nav-headers" routerLink="/cart">
            <i class="fas fa-shopping-cart"></i>
            Cart
        </a>

        <div class="navbar-nav" *ngIf="currentUser && currentUser.role == Role.Manager">

            <a class="nav-item nav-link nav-headers font-weight-bold" style="color: black;" routerLink="/discount"><i class="fas fa-tag"></i>Discount</a>
            <a class="nav-item nav-link nav-headers font-weight-bold" style="color: black;" (click)=getUsers() routerLink="/admin/user"><i class="fas fa-user mr-2"></i>Users</a>
            <a class="nav-item nav-link nav-headers font-weight-bold" style="color: black;" routerLink="/seller/product"><i class="fas fa-layer-group"></i>Stocks</a>
        </div>

        <ng-container *ngIf="currentUser; else noUser">
            
            <!--a class="nav-item nav-link"  routerLink="/discount">Discount</a>
            <a class="nav-item nav-link" (click)=getUsers() routerLink="/admin/user">Users</a>
            <a class="nav-item nav-link" routerLink="/seller/product">Stocks</a-->
            <a class="nav-item nav-link text-dark font-weight-bold nav-headers" routerLink="/order">
                <i class="fas fa-list-ul"></i>
                Orders
            </a>
            <a class="nav-item nav-link text-dark font-weight-bold nav-headers" routerLink="/profile">
                {{name}}
            </a>
            <a class="nav-item nav-link text-dark font-weight-bold nav-headers" (click)="logout()" routerLink="/login" [queryParams]="{logout: true}">
                Log Out
            </a>
        </ng-container>
        <ng-template #noUser>
            <a class="nav-item nav-link text-dark font-weight-bold nav-headers" routerLink="/login">
                Login
            </a>
            <a class="nav-item nav-link text-dark font-weight-bold nav-headers" routerLink="/register">
                Register
            </a>
        </ng-template>
    </div>
    
<router-outlet></router-outlet>    